@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

*::selection {
  @apply bg-deezer-purple;
}

*::-moz-selection {
  @apply bg-deezer-purple;
}

.btn {
  @apply rounded-lg bg-deezer-purple px-4 py-2 font-bold text-white transition-all hover:scale-105 hover:brightness-90 active:scale-95;
}
